:root {
  --p-color: #FF9800;
  --b-color: #202020;
  --lg-color: #e2e2e2;
  --dg-color: #212529;

  --lg-border: 1px solid var(--lg-color);

  --header-space: 4vw;

  /* https://material-components.github.io/material-components-web-catalog/#/component/elevation */
  --shadow-d1: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  --shadow-d2: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  --shadow-d3: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
}
@media (min-width: 576px) {
  :root { --header-space: 3vw; }
}

@media (min-width: 768px) {
  :root { --header-space: 2.2vw; }
}

@media (min-width: 992px) {
  :root { --header-space: 1.7vw; }
}

@media (min-width: 1200px) {
  :root { --header-space: 1vw; }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

  min-height: 100vh;
  background-color: #fffefd;
}
a {
  text-decoration: none;
  color: var(--p-color);
}
.btn {
  font-size: 1.5rem;
  padding: 0.6rem 1.4rem;
  color: var(--b-color);
  background-color: var(--p-color);
  border: 2px solid var(--p-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn:hover {
  background-color: #e68d08;
}
.btn:focus, a:focus {
  outline-color: #e68d08;
}

button:disabled, a:disabled {
  cursor: not-allowed;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) { 
  .sm-only {
    display: none;
  }
}

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

/*
*** bootstrap break points ***

@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

***
*/