/* Navbar */
header, .logo-wrapper {
  grid-area: header;
  background-color: #fff;
  border-bottom: var(--lg-border);
  padding: var(--header-space);

  position: relative;
  z-index: 99999;
}

.logo-wrapper .logo {
  color: var(--p-color);
  font-weight: bold;
}

header nav a {
  transition: color 130ms ease;
  color: var(--b-color);
  margin-left: var(--header-space);
}
header nav a:first-child {
  margin-left: 0;
}

header nav a:hover {
  color: var(--p-color);
}

.side-toggle {
  background-color: transparent;
  border: 0;
}

/* Sidebar */
.sidebar {
  padding: var(--header-space);
  background-color: #fcfcfc;
  position: relative;
  grid-area: sidebar;
  border-right: 0;
  border-bottom: var(--lg-border);
  min-height: 100vh;
  box-sizing: border-box;
}

.side-comp {
  margin-bottom: 4vh;
}
.side-comp:last-child {
  margin-bottom: 0;
}

.side-comp .heading {
  color: var(--b-color);
  margin: 0;
  margin-bottom: 1vh;
}

.side-comp label {
  display: block;
  margin-bottom: 0.6vh;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 0.8em;
}

/* Main */

.images {
  grid-area: main;

  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1em;
  max-width: 100%;
}
.images .all-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.images a {
  margin: var(--header-space);
  display: block;
  max-height: 300px;
}
.images a img {
  object-fit: cover;
  transition: box-shadow 200ms ease-in-out;
  height: 100%;
  width: 100%;
}
.images img:hover {
  box-shadow: var(--shadow-d2);
}
.images .btn.btn-more {
  margin: 1.8rem auto;
  display: block;
  font-size: 1.6rem;
  padding: 0.6rem 1.4rem;
  color: var(--b-color);
  background-color: var(--p-color);
  border: 2px solid var(--p-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color, background-color 0.2s ease;
}
.images .btn.btn-more:hover {
  background-color: #ee8f03;
}


/* Bootstrap Breakpoints */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .sidebar {
    border-right: var(--lg-border);
    border-bottom: 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
